[2016-02-02 21:52] dlitvakb opened #1 "Cannot edit ACE Editor inputs"
Extension does not work for https://gist.github.com

[2016-02-02 21:56] danhper commented on #1
Thanks for reporting, I am going to check it out!

[2016-02-02 22:06] jtokoph commented on #1
Seems ok to piggy back on this issue to say that it doesn't work with CodeMirror either:
https://codemirror.net/

[2016-02-02 22:10] danhper commented on #1
Yep, it seems that the normal [TextareaHandler](https://github.com/tuvistavie/atomic-chrome/blob/master/src/handlers/textarea.js)
cannot be used for codemirror and ace, so I am going to add special
handlers for these.
Thank you for the report.

[2016-02-02 22:54] braco opened #2 "Context menu?"
Why not put the activation icon in the context menu on textareas? (right-click, ctrl-click, etc)

Could eliminate the need for the toolbar icon, which seems out of place.

[2016-02-02 22:58] danhper commented on #2
I use a shortcut to activate the extension.
I agree the toolbar icon is not really useful,
but I think in this case, it would be good to have a default shortcut.
Do you think that a context menu could be more useful than a simple shortcut?

[2016-02-02 23:05] dlitvakb commented on #1
This is probably more accurate to be named "Cannot edit ACE Editor inputs"

[2016-02-02 23:35] braco commented on #2
I think so, it would target the element and seems obvious that you're performing an action there.

And maybe some action could be performed if the element loses focus?

[2016-02-02 23:43] danhper commented on #2
I see. I agree this use of the contextual menu seems more natural.
I am going to change this, thank you for the feedback.

I would however rather not do anything when the element loses the focus,
as for example in Github, one would press the preview button and
make some modifications afterwards, so I think it could interfere
with a normal workflow.

[2016-02-03 02:59] hharnisc opened #3 "Q: could you describe your development setup"
- which flavor of linux
- any other packages/plugins you've got installed

not an issue at all, but thought your setup was cool

[2016-02-03 03:24] danhper commented on #3
Hi,

I am using [Arch Linux](https://www.archlinux.org/).
My window manager is [xmonad](http://xmonad.org/) and the top bar is [xmobar](http://projects.haskell.org/xmobar/).

If you are interested, you can find most of my config [here](https://github.com/tuvistavie/dotfiles) and [there](https://github.com/tuvistavie/atom-config)

[2016-02-03 03:24] #3 closed, assigned to nobody

[2016-02-03 04:47] hayleox commented on #1
Very excited to hear this bug is working on -- replacing the awful editor on GitHub Gists is definitely my #[]()1 use case for this plugin.

[2016-02-03 14:30] piascikj opened #4 "Convert markdown for email"
It would be really cool to toggle the output to html for markdown text.  I've always wanted to write my emails in markdown inside gmail.

[2016-02-03 14:32] steelbrain commented on #4
:+1:

[2016-02-03 14:53] danhper commented on #4
I am planning on adding this feature, but it does require quite a bit of work.
We need a markdown -> contenteditable HTML converter, as the HTML used
inside gmail is not really conventional, so a normal Markdown renderer
would not be good enough.
I will tackle this as soon as possible, but any help is very welcome!

[2016-02-03 15:06] danhper commented on #1
I am working on this issue in the [support-ace-editor](https://github.com/tuvistavie/atomic-chrome/tree/support-ace-editor) branch, but I am not really sure why the first call to `editor.getValue()` returns some weird value.
If anyone familiar with ace would like to give it a look, it would be very nice!

[2016-02-03 15:25] braco commented on #2
Good point! Maybe the DOM location could be stored and focus could be recaptured when the user begins typing in Atom again?

[2016-02-03 19:40] jtokoph commented on #1
If i load up gist.github.com or ace.c9.io, I'm able to run this in the console and get the value on the first call:

`ace.edit(document.activeElement.parentElement).getSession().getValue()`

[2016-02-03 19:47] jtokoph commented on #1
And for codemirror:

`document.activeElement.parentElement.parentElement.CodeMirror.getValue()`

The CodeMirror element we eventually follow the ancestry too has the class `CodeMirror` by default I think.

[2016-02-03 20:48] dsandstrom opened #5 "Firefox Add-on"
Is this possible?

[2016-02-03 20:53] dsandstrom commented on #5
A co-worker let me know about GhostText for Sublime:
https://github.com/Cacodaimon/GhostText-for-SublimeText
https://addons.mozilla.org/en-US/firefox/addon/ghosttext-for-firefox/

So it seems like it's possible.  Is support planned?

[2016-02-04 01:37] danhper commented on #5
It is of course possible.
As long as we can start a WebSocket server in the editor, the same implementation should be possible.
I have not decided of any plan to support other editors yet, but I am all for it, so help is very welcome.

The Atom plugin can be found [here](https://github.com/tuvistavie/atomic-chrome-atom), I think it should not be too complicated to port it to Python and Sublime API

[2016-02-04 02:32] dsandstrom commented on #5
Thanks for the reply. I was talking about a Firefox port, not a sublime
port.

On Wed, Feb 3, 2016, 5:38 PM Daniel Perez notifications@github.com wrote:

[2016-02-04 03:29] danhper commented on #5
Oh, sorry!
I do not have any plan for a Firefox port right now, but almost all the logic could go to be shared as a library, and we could keep only the browser specific implementation in the main plugin package. This should avoid code duplication.
However, my priority right now being to improve the Chrome plugin, help is very welcome for this too.

[2016-02-04 03:53] danhper commented on #1
@jtokoph
Thank you very much for your help.

Actually, it is a little more tricky than this here.
In both cases, this requires to use JS variables from the page,
but as Chrome plugins run in sandboxed environment, it is not possible
to access them directly, so what would work in the console will not work in the plugin.
I thought it could work by adding ace to the plugin,
but it seems that ace keep

[2016-02-04 09:54] gansai opened #6 "Do you think once the chrome tab is closed, tab in atom should be closed?"
Suppose we are composing a mail or drafting text in stackoverflow and we have opened the corresponding tab in atom editor. During editing session, Atom syncs with the chrome browser.
After we are done with that chrome tab, suppose we close the tab, currently, corresponding atom tab is left open. Do you think it should get automatically closed?
Just want to hear your views on this scenario.

[2016-02-04 10:08] danhper commented on #6
Hi,

I thought a little about this, and it is easy enough to close the tab automatically,
but I prefer not to do anything automatically to avoid any inconvenience if
the tab was closed by mistake (which sometimes happens, at least to me).
Maybe we could make this configurable, as I agree that closing the Atom tab
when the Chrome one is closed is probably the most common use case.

What do you thin

[2016-02-04 10:41] gansai commented on #6
As you said, we could make it configurable and by default - let it remain open. So if the user wants to close it automatically, the user can configure it.

[2016-02-04 20:23] joseluisq opened #7 "Placeholder email editor is not hidden by default"
Tested in Google Inbox.

![image](https://cloud.githubusercontent.com/assets/1700322/12828491/2b586822-cb53-11e5-8dfc-6a54ec5c180c.png)

[2016-02-04 21:14] gravitypersists opened #8 "Idea: Replace input element in browser with Atom Editor"
Perhaps it can inherit configuration and plugins from your local editor? Is this crazy hard? I don't know. Would it be cool? Fuck yes.

[2016-02-05 02:34] danhper commented on #7
I am going to check this out, thanks for reporting.

[2016-02-05 04:33] danhper commented on #1
I got a very basic prototype working in the [support-ace-editor](https://github.com/tuvistavie/atomic-chrome/tree/support-ace-editor) branch,
so I think I should be able to get this working by the end of the week.
The approach is to inject a script in the host page and add an extra
layer of message passing to get the value from the host page to the content-script.

[2016-02-05 04:37] danhper commented on #8
Hi,
Thanks for the feedback.
Unfortunately, this is not possible.
There are not a lot of things you can embed in a webpage, and embedding
a native app (even if it runs on V8), is simply not doable.
I am closing for now, if I misunderstood your point, please feel free to reopen.

[2016-02-05 04:37] #8 closed, assigned to nobody

[2016-02-05 07:03] danhper commented on #7
It seems that inbox does not use a real placeholder but rather a label which it hides/shows.
I think manually triggering some event on the div should probably do the job but I did not find which one yet.

Maybe someone familiar with the [GWT](http://www.gwtproject.org/) framework would know what to do here?

[2016-02-05 13:49] joseluisq commented on #7
Yes, this uses a `label` like placeholder.

[2016-02-05 13:58] joseluisq commented on #7
If you try to resize the window the placeholder disappears.
I think that you could trigger `resize` event for `label` that placeholder can be hidden.

[2016-02-05 15:05] #1 closed, assigned to nobody

[2016-02-05 15:13] danhper commented on #1
@dlitvakb @jtokoph Thanks for the feedback and the help.
From 0.1.0, it should now work with ace and codemirror.
I would love if you could give it a try and give some feedback if you have any.

[2016-02-05 15:15] danhper opened #10 "Allow to send to Atom the preferred syntax"
When working with gists, or other code,
it would be better if the file in Atom already had
the correct extension.
The current `register` message contains `title` and `text`,
we need to add `extension` or something like this there.

[2016-02-06 04:49] danhper commented on #7
Thank for the tip about resizing, I could reproduce it by firing the event programatically.
I am going to see how I can integrate these kind of cases cleanly.

[2016-02-07 08:33] jtokoph commented on #1
Works like a charm for both! Thanks so much for the extension!

[2016-02-07 08:49] danhper commented on #1
Great, glad you like it! :smile:

[2016-02-07 15:26] #7 closed, assigned to nobody

[2016-02-07 15:38] danhper commented on #7
@joseluisq Thank you very much for reporting and for the `resize` trick.
This should be fixed in 0.1.1, please give it a try!
The only case which will not work is:
1. Start Atomic Chrome
2. Write there (the placeholder should disappear)
3. Erase the content directly from the browser (the placeholder should reappear)
4. Restart typing in atom (the placeholder will not disappear)

as the window `res

[2016-02-09 14:12] #10 closed, assigned to nobody

[2016-02-10 03:00] joseluisq commented on #7
Cool :+1:

[2016-02-10 03:01] joseluisq commented on #4
:+1:

[2016-02-10 15:47] orawalters commented on #4
:+1:

[2016-03-09 14:57] lucasbento commented on #4
:+1:

[2016-03-09 22:06] danhper commented on #4
The work is in progress but I did not have much recently.
If anyone wants to help, the work in progress is here.

https://github.com/tuvistavie/meditable

The plan is to have an ultra minimal AST representing
a subset of the DOM that can be expressed in markdown,
then make the conversion from/to the AST losing the less information
possible.

[2016-03-10 02:13] zeke commented on #4
See http://markdown-here.com/

[2016-03-10 02:37] danhper commented on #4
I did know about markdown-here but I did not know it also converted HTML to markdown,
I am going to see if I can use the common module, that will save me from reinventing the wheel :smile:

[2016-03-28 18:25] pixelchutes opened #11 "Frame support?"
Almost embarrassed opening this issue _(don't judge!)_ :smile:

In testing this against a legacy application _(using `<frameset>`)_ it did not seem to work.
However, when testing directly against the target page of the `<frame src>`, it worked as expected.

I'm not familiar with Chrome plugin development, perhaps this is a known limitation? (e.g. frame support)

[2016-03-29 01:29] danhper commented on #11
Hi, thanks for reporting!
Wow, I wonder when was the last time I heard of frame and frameset :smile:
I have no idea of what could be the issue, but I will take a look!
Is the plugin is outputting something to your console?

[2016-03-29 14:27] pixelchutes commented on #11
Yes, the console output is:

[2016-03-29 15:28] danhper commented on #11
Thank you for the details, I am going to check it out!

[2016-03-30 06:06] #11 closed, assigned to nobody

[2016-03-30 06:09] danhper commented on #11
@pixelchutes This should be fixed as of 0.2.1.
`document.activeElement` indeed returns the `frame`, and not the `textarea` or whatever, causing the issue.

I updated to get the `activeElement` inside the `frame`,
when the current one is a frame.
Keep in mind that this will not work for cross domain frames, as AFAIK there is no way to access the underlying document.

Please reopen if you are still

[2016-03-30 18:25] wiiittttt opened #12 "iframe support"
It looks like the framework for this was added as a result of #11.

I think there just needs to be another method added?

`normalizeIframe(elem) {
  return normalizeFrame(elem);
}`

[2016-03-30 22:53] pixelchutes commented on #12
:+1: Yes, please!

[2016-03-30 22:54] pixelchutes commented on #11
Confirmed! Thanks @tuvistavie _(especially for the quick turnaround!)_

[2016-03-31 03:26] #12 closed, assigned to nobody

[2016-03-31 03:27] danhper commented on #12
Thanks for reporting, this should be fixed in 0.2.3.

[2016-04-01 14:34] pixelchutes commented on #12
@tuvistavie ~~sorry to pester, but when testing `0.2.3` (`<textarea>` in `<frame>`), Atomic Chrome is opening up _two_ Atom tabs...~~

~~I don't believe this happened in `0.2.2`.~~

Oddly, it does not seem to work for a texteditor like CodeMirror (inside `<frame>`), but does work for CodeMirror without `<frame>` involved.

**UPDATE:**

~~The two Atom tabs seems to be happening even when `<frame>`

[2016-04-01 16:41] danhper commented on #12
@pixelchutes Thanks for the catch!
I was using the `window` object instead of the iframe `window` object,
causing the error when working inside in iframe.
I just published a fix as 0.2.4, please let me know how it goes!

[2016-04-02 23:28] pixelchutes commented on #12
@tuvistavie Confirmed, thank you! :beers:

[2016-04-12 21:35] wiiittttt commented on #5
I'm currently writing this comment with Firefox Nightly and atomic-chrome so it's basically already working. The only thing I did was add

`"applications": {
    "gecko": {
        "id": "test@gmail.com"
    }
}`

to the manifest and removed the 'activeTab' permission since it seemed to cause the extension not to load (and I believe is also redundant with the 'tabs' permission ).

Edit: Also works

[2016-04-17 02:50] danhper commented on #5
That's great news, thank you for the info. I did not know Firefox support was progressing so quickly.
I am going to try to package it and distribute it from the release page until normal firefox also supports it.

[2016-05-04 00:38] dzfranklin opened #13 "parse markdown in contenteditable"
Often in contentediable based editors the controls offered are too limited or are annoying to use, so a method to type in them using markdown would be very useful. If the text typed in Atom was run through a  markdown to html converter before being sent to a contentediable that would be very convenient. Is this possible as a setting?

Thanks,
Daniel

[2016-05-04 02:47] danhper commented on #13
Hi, thank you for the suggestion.
The feature has already beek asked in #4.
It is possible, but not as trivial as it seems:
because as the text is synchonized, we need
to have something that converts both ways without loosing information (as much as markdown allows us to).
I started a bit the work in https://github.com/tuvistavie/meditable, but did not really have the time to work on it recently,

[2016-05-04 02:47] #13 closed, assigned to nobody

[2016-05-07 12:51] markkuit opened #14 "Reverse feature"
This looks very interesting, and it actually inspired me of a possible feature/idea.
How hard would it be to implement a way to copy to Atom what is done in Chrome? Specifically, I'd enjoy having Chrome Inspector modifications (e.g. CSS) automatically save into the Atom tab when I'm fiddling with web pages.

[2016-05-09 05:15] danhper commented on #14
Hi, thank you for your interest.

It is possible to work with the devtools from
an extension, so the addition is I think possible, but I am not
sure it is a good idea to mix devtools features in
a plugin that is not particularly related with development.

Maybe splitting the WS communication part to another module so that
it can be reused in another plugin seems a better solution.
If you are inter

[2016-05-13 21:33] dr2050 opened #15 "Special Handling for Workflowy: Part 1"
## Problem

When the text is pulled out of a **notes** field in [Workflowy](http://workflowy.com), it looks like this

[code]

but when it returns to the `contenteditable` div, the text comes back like this:

[code]

While this looks right, when Workflowy subsequently saves it, it strips out the HTML tags and therefore the line breaks.
## Solution

I think this problem would be solved if the text

[2016-05-13 22:30] danhper commented on #15
@drosenstark Hi, thanks for reporting!

I added a [special handler](https://github.com/tuvistavie/atomic-chrome/blob/master/src/content-script-tools/custom-events/workflowy.js) for workflowy which simply set the value to the current text instead of
doing the usual conenteditable processing (which is needed for Gmail, for example).

I think this should fix your issue, but could you give it a try pl

[2016-05-13 22:33] dr2050 commented on #15
Okay, testing now, thanks...

[2016-05-13 22:41] dr2050 commented on #15
[I had to install Node for this... first time for everything]

It works perfectly... thank you so much for doing this. This is a huge game changer for me!

![](http://i.imgur.com/FT0UmrX.png)

[2016-05-13 22:45] danhper commented on #15
Thanks for trying it out! I'll publish a new version to the store then!

[2016-05-13 22:45] #15 closed, assigned to nobody

[2016-05-13 22:51] danhper commented on #15
0.2.5 should be available on the store within a few hours, thanks for the help :smile:

[2016-05-13 22:55] dr2050 commented on #15
Thank you so much. Awesome stuff!

Looking forward to trying the production version.

**Note:**  so far this new version appears to be working well with [this repo](https://github.com/ryanpcmcquen/workflowyCodeFormatter) by @ryanpcmcquen

[2016-05-14 00:12] dr2050 commented on #15
Um... maybe I spoke too soon on the cooperation with @ryanpcmcquen's repo. It kind of depends when you click where.  HHmmmm....

[2016-05-14 00:33] danhper commented on #15
After checking, it seems workflowy creates a `contenteditable` div per bullet point,
is this is why you are having trouble?
If this is the issue, I think it is going to be rather complicated to get something working,
as this is quite an edge case.
If you want to try to work on it, I am of course open to PRs!

[2016-05-16 14:05] dr2050 commented on #15
Sorry Daniel, didn't see your comment here. No, the issue with @ryanpcmcquen's stuff is not a problem with Atomic Chrome (though it could be solved there). Ryan's plugin modifies the contents of the `contenteditable` div for view only, which WF will overwrite on keydown.

So if the user hits a keydown and THEN hits the Atomic Chrome button, all is good. If the user hits the Atomic Chrome button be

[2016-05-16 14:22] danhper commented on #15
Hi, Dan,
Great, I am very happy it seems to be working fine for you.
Please feel free to reopen an issue if you find anything else that could be done better.

[2016-05-25 14:22] dr2050 opened #16 "Special Handling for Workflowy: Part 2"
Not sure if this issue applies to any contenteditable area or just in Workflowy. It does not occur in TextArea instances.
## Steps to Replicate
1. In a [Workflowy](http://workflowy.com) Note (shift-enter), type this text `this..<that`
   <BR>[The less-than sign is the issue]
2. Open that note in Atom via Atomic Chrome
3. Alter the text in Atom by adding a linefeed or whatever
4. Now the text will

[2016-05-25 14:38] danhper commented on #16
I managed to replicate the issue, thank you :+1:
I am going to take a look!

[2016-05-25 17:10] dr2050 commented on #16
That's great news, hopefully it's not a difficult fix, and perhaps it applies to other apps than WF...

THANKS

[2016-05-29 15:06] danhper commented on #16
Hi, sorry for the delay!
This should now be fixed in master, could you please give it a try before I publish a new version?
Thanks :smile:

[2016-05-30 15:16] dr2050 commented on #16
[Instructions for Testing from Older Ticket](https://github.com/tuvistavie/atomic-chrome/issues/15#issuecomment-219174739)

[2016-05-30 15:22] dr2050 commented on #16
Tested commit `d68ce2c2133` and the fix works! Thank you!

[2016-05-30 15:52] danhper commented on #16
Great, thank you very much for testing! :smile:
I just published 0.2.6 with the fix, it should be available from the store very soon!

[2016-05-30 15:52] #16 closed, assigned to nobody

[2016-06-02 14:21] dr2050 opened #17 "Special Handling for Workflowy: Part 3"
Please see [Other Workflowy Related Issues](https://github.com/tuvistavie/atomic-chrome/issues?q=workflowy)
## Description of Problem

In Workflowy's editor for notes it wraps links, bold, italics and underline.
- **Links** - Links are like this `<a class="contentLink" target="_blank" rel="noreferrer" href="[SITE]">[SITE]</a>`... those links then get converted to text in Atomic Chrome. They then r

[2016-06-06 18:18] dr2050 commented on #17
Note from the author: there is this class for special Workflowy handling, in case someone wanted to fork:

https://github.com/tuvistavie/atomic-chrome/blob/master/src/content-script-tools/custom-events/workflowy.js

[2016-06-22 10:39] danhper commented on #17
@drosenstark Hi, sorry this took so long!
I removed the tags when the text is extracted from Workflowy to Atom.
I tried it and it seems to work fine with link, as the links are readded after,
but the bold and italic formatting will I think be lost.
Could you give the master branch a try and tell me how it goes please?
Thank you :smile:

[2016-06-22 14:28] dr2050 commented on #17
Testing using instructions [here](https://github.com/tuvistavie/atomic-chrome/issues/15#issuecomment-219174739)

[2016-06-22 14:34] dr2050 commented on #17
Hey Daniel, thanks so much for doing this. Results:
1. Links are perfect
2. Bold/Italics are getting replaced with new-lines, which changes the content

Thanks!
Dan

[2016-06-22 19:34] dr2050 commented on #17
On the other hand, #2 is not a showstopper, so I'd say to go ahead and push master if it's not easy to fix #2. This is already way better and resolves all the HUGE problems with recursion.

Thank you!

[2016-06-22 19:44] dr2050 commented on #17
I see it now... it's a peculiarity of Workflowy that it puts a `\n` before and after any formatting. I'd say that we're good to go and publish these changes... they're very helpful and remove all of the true risks. Great work and thanks for your kind attention!

[2016-07-19 12:10] benadamstyles opened #18 "Not working at all"
Atom package `atomic-chrome` version: `0.3.0`
Atomic Chrome extension version: `0.2.6`

Clicking the browser button does nothing. Atom is open already. I tried inspecting the extension's background page via Chrome extension manager developer mode and the devtools view opens but there is nothing there, no console logs of any kind, and I am unable to use the console to run any javascript, pressing e

[2016-07-19 14:15] danhper commented on #18
Hi, thanks for reporting.

What page were you using when you tried the plugin?
There could be some sites for which it just does not work,
although it seems weird that no window gets opened in Atom.
Do you get the same behavior with GitHub issues?

Also, could it be that you have another instance of Atom running somewhere?

If it does not seem to work, could you please try the following:

[code]

T

[2016-07-19 14:31] benadamstyles commented on #18
Hey man I am really sorry but I just restarted my mac and it is working again. I should have tried this before posting this issue. `wscat` is doing what you said it should. I'm going to close this and assume that as the extension wasn't initialising at all, this was a chrome issue and nothing to do with your code. Thanks for the detailed response and sorry for wasting your time!

[2016-07-19 14:31] #18 closed, assigned to nobody

[2016-07-19 14:54] danhper commented on #18
No problem! Thanks for the feedback :smiley:

[2016-08-02 14:55] Greenek opened #19 "Doesn't work with another extensions"
When you try to use atomic-chrome in another Chrome extension (eg. Tampermonkey), this bug appers:

Any idea how to work around this?

[2016-08-19 16:05] aeischeid commented on #5
This is great! How can I test this? sounds like it could maybe be a closed issue, and I would be happy to add to the readme and maybe push to the firefox extensions list if I can test it out and confirm it works.

[2016-09-02 06:30] danhper commented on #5
I did not have a change to try it out yet.
@wiiittttt Would you have more information about how to have it to work with Firefox?

[2016-09-02 10:10] wiiittttt commented on #5
In Firefox 50, the only thing I had to do was go to `about:debugging`, click "Enable add-on debugging" and then "Load Temporary Add-on". Choose the manifest file.

It appears the `applications` key in the manifest is no longer needed. See https://developer.mozilla.org/en-US/Add-ons/WebExtensions/manifest.json/applications.

[2016-09-07 06:06] rodrigodavies opened #20 "Doesn't work with Google Docs"
If I open a Google Doc, launch Atomic Chrome and start typing in Atom, my text isn't shared. Would be _awesome_ to use it with Docs!

[2016-09-07 06:21] danhper commented on #20
Hi, thanks for reporting.
Yeah, I also want it to work with Google Doc, but could not find any easy way yet.
I think the only way to make this work is to create an addon for Google Docs.

[2016-09-20 23:23] gunn opened #21 "Does not trigger events"
Great project! It would be even nicer if when a textfield was edited, the `onchange` event fired.

My use case is for editing markup that is previewed as html and updates live with typing.

[2016-09-22 06:05] danhper commented on #21
@gunn Hi, thanks for the feedback!
For now [the keypress event is fired](https://github.com/tuvistavie/atomic-chrome/blob/master/src/content-script-tools/custom-events/common.js#L8), but I am not sure that firing the `onchange` event everytime
is a great idea, as it differs from the normal behavior of a textarea or input, where it fires only
when the input is unfocused. Maybe we could use a keyboa

[2016-09-23 05:06] gunn commented on #21
@tuvistavie yes I think you're right that always firing `onchange` would be inconsistent.

The reason I was thinking that is because of [React's onChange attribute](https://facebook.github.io/react/docs/forms.html).

Here's a very simple test-case for working with a React textarea - http://output.jsbin.com/funonayaki Source [here](http://jsbin.com/funonayaki/edit?js,output). You can see it updates

[2016-09-30 16:59] OwenMelbz opened #22 "I dont get it?"
Just stumbled across this and it seems loads of people enjoy it.

But I just don't get it? Whats the point/benefit of this? What problem does it solve for example? It might help my processes dramatically, if only I knew why?!

[2016-10-01 00:07] laughedelic commented on #22
The point is that you can use your cozy Atom with all your favourite plugins to edit text in Chrome. For example, you can edit comments on Github in Atom with markdown preview, code blocks syntax highlighting and any other [related plugins](https://atom.io/packages/search?utf8=%E2%9C%93&q=keyword:markdown). For writing more than several lines it can be quite convenient.

[2016-10-01 01:16] danhper commented on #22
I had the same question a few time on HackerNews, so I wrote about my use case there.
See my first comment.
https://news.ycombinator.com/item?id=11022356

[2016-10-01 01:16] #22 closed, assigned to nobody

[2016-10-07 06:04] aploium opened #23 "[Bug] markdown in github online edit becomes html"
for example, I'm editing this markdown:
`https://github.com/tuvistavie/atomic-chrome/edit/master/README.md`

Before atomic-chrome:

![Before atomic-chrome](https://cloud.githubusercontent.com/assets/15957250/19180128/df1989f0-8c95-11e6-8cd3-2dce6694f27f.png)

And after I click the atomic-chrome:
![After atomic-chrome](https://cloud.githubusercontent.com/assets/15957250/19180159/16456cc8-8c96-11e6-

[2016-10-07 06:40] #23 closed, assigned to nobody

[2016-10-07 06:40] danhper commented on #23
Hi, thanks for reporting.
It seems there has been some changes in CodeMirror which broke the extension.
I just fixed it and uploaded it as 0.2.7, it should be available on the store soon!

[2016-10-07 15:00] micahculpepper opened #24 "Smart-select Atom window"
Hello,

When I have multiple Atom windows open and I activate atomic-chrome, it opens a new tab in my oldest Atom window. I think it would make sense to open in the currently-active window (or at least have a config option for where it should open).

Mac OS 10.12 (16A323), Chrome 53.0.2785.143, Atom 1.10.2, atomic-chrome package 0.3.0, Atomic Chrome plugin 0.2.7

[2016-10-07 15:09] micahculpepper commented on #24
Duplicate of https://github.com/tuvistavie/atomic-chrome-atom/issues/3

[2016-10-07 15:09] #24 closed, assigned to nobody

[2016-10-17 16:10] BatagliaMatias opened #25 "Doesn't work with nested frame/iframe"
Hi, i am trying to use it to edit code from Opencms editor and it uses an iframe with a textarea inside. The message at the console is:  `content-script.js:71 Atomic Chrome does not support <iframe> (yet?)`
The structure is:

[code]

[2016-10-17 16:16] BatagliaMatias commented on #25
If i open the frame in a new windows it works from there, just with the form, iframe and textarea. Maybe it have problems with nested frames.

[2016-10-18 09:01] danhper commented on #25
It's very possible I did not handle the nested frames case properly,
I will give it a look!

[2016-11-10 12:25] oilervoss opened #27 "Doesn't work with Chromium Browser"
It doesn't work on [SRWare Iron](http://www.srware.net/en/software_srware_iron.php), a Chromium-source browser striped from code with privacy concernes [Chrome vs Iron](http://www.srware.net/en/software_srware_iron_chrome_vs_iron.php)

I've tried on Windows 10 32 and 64 bits and with Iron 32 and 64 bits. It's installed but is completely frozen.

[2016-11-18 05:08] t9md opened #28 "automatically focus atom-window when start editing"
1. on the input form of browser, invoke shortcut of start-editing-in-atom-editor
2. want to automatically focus atom window so that I don't have to `shift-tab` or `cmd-tab` to change active app to Atom.

[2016-11-18 05:17] danhper commented on #28
This is probably OS and environment dependent.
I will see if it is easily doable.
What OS (and desktop environment if relevant) are you using?

[2016-11-18 05:19] t9md commented on #28
macOS, not yet sierra but move to sierra soon.
What os are you using?

[2016-11-18 05:25] t9md commented on #28
If you can call `atom.focus()` method by messaging to your atom package, I thinks it can be implemented without being involved by OS differences.

https://github.com/t9md/atom/blob/master/src/atom-environment.coffee#L532-L534

Just idea, not sure it's practically correct.

[2016-11-18 05:36] danhper commented on #28
I didn't know about this, thanks!
It should be easy enough to call this after opening the text editor, I will give it a try.

[2016-11-18 05:38] t9md commented on #28
Awesome! your package greatly reduce pain to input long text into the github issue.
Thanks for nice idea and bundled into effective workflow to broad user!

[2016-11-25 03:49] dbkaplun opened #29 "Buggy on multiple desktops"
For users of multiple desktops like me, it's ergonomic to have separate desktops for coding and separate desktops for browsing, so on my main (browsing) screen, I have to switch to a different desktop to use the extension, making the extension pretty much useless for me.

Here is what happens:
* I press the Atomic Chrome button in the Chrome menu
* Nothing happens visually
* I switch to the most r

[2017-02-01 05:56] thancock20 commented on #5
I just used the [**Chrome Store Foxified**](https://addons.mozilla.org/en-US/firefox/addon/chrome-store-foxified/) Firefox add-on to install the Atomic Chrome Extension directly from the Chrome Store into Firefox.

Now, I'm using it to type this comment. So it seems to be working just fine as is, if you want to make an official port of it.

btw: I'm using Firefox 51.0.1 (64bit) for Linux Mint.

[2017-05-10 19:58] virtualdxs commented on #20
Too bad it doesn't work. I keep trying to use my Vim keybindings in Docs and I was hoping to be able to make that work.

[2017-09-21 00:58] Zerim commented on #4
@tuvistavie Not sure if this library still being worked on... but would there be any interest in generalizing whatever you solution come up with above to work w/ any sort of transpilation steps? (i.e. ES6 in editor to ES5 in browser, etc.). I understand that in these cases two-way syncing would not be possible, but I think this would be okay as long as it could be toggled by the user.

[2017-09-21 01:48] danhper commented on #4
While I do not have much time to work on this project recently,
I think it would be a good feature to have and would very gratefully accept PRs.

[2017-11-08 00:54] jeremytwfortune opened #30 "Broken promises with site titles that cannot be file names"
Invoking the extension on sites with titles that cannot wind up as file names results in promise errors in Atom.

On a site with site title `A | B`, Atom produces:

[code]

Removing the `|` solves the issue on Windows 10.

[2017-11-08 03:35] #30 closed, assigned to nobody

[2017-11-08 03:38] danhper commented on #30
Thank you for reporting!
I fixed this on the Atom side, it should work with the latest version.

[2017-11-08 03:42] jeremytwfortune commented on #30
Thanks!

[2017-11-19 17:41] ghost opened #31 "Is anyone still developing this???"
@tuvistavie @alpha22jp

[2017-11-20 01:03] danhper commented on #31
I don't have much time recently but I do try to fix bugs when reported.
For new features, contributions are very welcome.

[2017-11-20 01:03] #31 closed, assigned to nobody

[2017-11-20 03:16] ghost commented on #31
Thanks @tuvistavie

[2017-12-05 12:08] lrineau commented on #5
I confirm that this extension works as-is with Firefox 57. I installed it
with Chrome Store Foxified as well, and I am typing this post in Emacs,
using the extension in Firefox 57. I think the extension could be published
to Firefox as it is.

[2017-12-09 21:15] slowjoe17 opened #32 "Cannot load Atomic-Chrome extension in Chrome in developer mode"
Current behaviour:
When trying to load the atomic-chrome extension manually from a git repo, it doesn't work.

I get an error message saying the following:
<quote>
Error Loading Extension
Failed to load extension from: ~/git/atomic-chrome/app
Could not load background script 'scripts/background.js'.
</quote>

Expected behaviour:
Should be possible to load extension from a copy of the source, or th

[2017-12-13 11:57] slowjoe17 commented on #32
Ping @tuvistavie

Is this a known problems?

Is there a workaround?

[2017-12-13 12:56] danhper commented on #32
Hi,
I suspect you did not compile the source code.
Try running

[code]

and try loading the `app` directory after.

Let me know if that works for you.

[2017-12-29 03:14] parkour86 commented on #5
"Chrome Store Foxified" worked for me. This should be added to the README for people looking to add it to Firefox.

[2018-01-03 17:18] danhper commented on #5
Good to hear!
If you would like to add a note in the README and send a PR it would be very nice, thanks!

[2018-01-19 17:09] fkgruber opened #33 "Can't activate from hangout chat window"
since the icon does not show on the chat window there is not way to call it. Tried creating a keyboard shortcut and did not work either.

[2018-02-07 22:11] danhper commented on #33
Sorry for the late reply.
Could you check the console to see if there is an error message please?

[2018-02-08 09:30] stsquad commented on #33
The HO box is a div with g_editable set.

[2018-03-09 20:14] ynot729 opened #34 "Prevent converting tags to text"
There should be an option to prevent the converting of tags to text. that way the editor can be used to edit HTML and see the pages styling. I can't figure out where the tags are being converted to text so I can test myself. Thanks

[2018-03-09 20:35] ynot729 commented on #34
I was able to edit the chrome plugin and do
[code]
this works fine since the only application I want for this is to be able to live edit html. It should be a setting that can be set from within the atom plugin for which URLs you want to replace HTML or just text. I tried adding a separate config but I gave up and just defaulted the main config to do innerHTML instead of key strokes

[2018-03-15 06:20] danhper commented on #34
Hi, thank you for reporting and sorry for the delay.
While I am open to such an option, I do not have time to work on it at the moment.
If you would like to send a PR, I will be happy to merge it.
Thank you.

[2018-06-30 20:38] raxod502 opened #35 "Browser extension has stopped working"
I used the Atomic Chrome browser extension along with the [Emacs plugin](https://github.com/tuvistavie/atomic-chrome-atom) with no trouble until recently, when it suddenly stopped working unexpectedly.

To determine if the problem was the Emacs plugin or the Chrome extension, I installed Atom and the [Atom plugin](https://github.com/tuvistavie/atomic-chrome-atom). This didn't work either, so I con

[2018-07-03 18:37] raxod502 commented on #35
I can no longer reproduce this issue. Apologies for the noise.

[2018-07-03 18:37] #35 closed, assigned to nobody

[2021-04-04 11:44] aspiers opened #36 "Doesn't work with Brave: WebSocket connection to localhost fails"
Every time I try to edit with this extension in Brave, it fails with the error `WebSocket connection to 'ws://localhost:64292/' failed`:

![image](https://user-images.githubusercontent.com/100738/113507525-ff632580-9542-11eb-85a1-d586201cd413.png)

This was on Brave version 1.21.73 Chromium: 89.0.4389.72 (Official Build) (64-bit).  I have also just tested on Google Chrome version 89.0.4389.72 (Off

[2021-11-25 10:01] khwerhahn commented on #36
My WebSockets also fail. They work in Chrome and Firefox, so it is definitely a Brave issue.

[2021-12-13 18:04] jeremymeng opened #37 "extension no longer available in chrome store"
I had the extension installed for Microsoft chromium-based Edge.  Now it is turned off with this warning.

![image](https://user-images.githubusercontent.com/7583839/145864543-c4af9da8-bbd7-421d-a8f1-b09d3961808f.png)

Searching "Atomic Chrome" no longer yield a result for the extension.

Alternative: I am glad that `GhostText` still work. https://github.com/fregante/GhostText

[2021-12-14 13:58] winfried-van-loon commented on #37
View of this issue in Google Chrome:
<img width="415" alt="Screenshot 2021-12-14 at 14 57 13" src="https://user-images.githubusercontent.com/756956/146012221-c720d5e1-ca55-4c06-9d8a-56413466ddb5.png">

[2022-01-24 22:13] khwerhahn commented on #36
Any updates to this?

[2022-05-02 13:32] c0001 commented on #37
same as but using https://github.com/fregante/GhostText instead.

[2022-05-02 15:04] danhper commented on #37
Hi, thanks for the report!
Do you have any idea why this became unavailable? I haven't followed what happened much these days.

[2022-05-11 17:04] jeremymeng commented on #37
@danhper maybe publisher of the extension would have more information from google about the violation?